{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-md-4">
            <button id="btnAuthenticate">Authenticate device with FIDO2</button>
        </div>
    </div>
    <br>
    <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
    <p>
        {{ _('Forgot Your Password?') }}
        <a href="{{ url_for('auth.register_fido2_request') }}">{{ _('Click to Reset It') }}</a>
    </p>
{% endblock %}

{% block scripts %}
    <script src="/static/simplewebauthn-browser.4.1.0.umd.min.js"></script>
    <script src="/static/authenticate_fido2.js"></script>
{% endblock %}