{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ render_form(form) }}
            <button id="btnRegister">Register device with FIDO2</button>
        </div>
    </div>
    <br>
    <p>
        {{ _('Set a password instead? (not recommended)') }}
        <a href="{{ url_for('auth.register_password', token=token) }}">{{ _('Click here') }}</a>
    </p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/simplewebauthn-browser.4.1.0.umd.min.js"></script>
    <script src="/static/register_fido2.js"></script>
{% endblock %}