Pillow
redis
rq
python-dotenv
pyjwt
gunicorn
pymysql
Werkzeug==2.2.3
MarkupSafe==2.0.1
email-validator
forex-python
yahoofinancials
prometheus-flask-exporter
webauthn
sqlalchemy-utils
flask
flask-sqlalchemy 
flask-migrate 
flask-login 
flask-mail 
flask-moment 
flask-babel 
flask-httpauth 
flask-wtf
flask-bootstrap 
flask-uploads
flask-restx
flask-weasyprint
flask-apscheduler
