Pillow
ipython
redis
rq
python-dotenv 
pyjwt 
gunicorn 
pymysql 
flask 
flask-sqlalchemy 
flask-migrate 
flask-login 
flask-mail 
flask-moment 
flask-babel 
flask-httpauth 
flask-wtf
flask-bootstrap 
flask-shell-ipython 
flask-uploads
