Pillow
redis
rq
python-dotenv
pyjwt
gunicorn
pymysql
Werkzeug==0.16
email-validator
forex-python
yahoofinancials
prometheus-flask-exporter
flask
flask-sqlalchemy 
flask-migrate 
flask-login 
flask-mail 
flask-moment 
flask-babel 
flask-httpauth 
flask-wtf
flask-bootstrap 
flask-uploads
flask-restplus
flask-weasyprint
flask-apscheduler
