    <table class="table table-hover">
        <tr>
            <td width="width:{{balance_grid[0]}}">
                {{ balance[0].username }}:
            </td>
            <td width="width:{{balance_grid[1]}}">
                {{ balance[1] }}
            </td>
            <td width="width:{{balance_grid[2]}}">
                {{ balance[2] }}
            </td>
            <td width="width:{{balance_grid[3]}}">
                {{ balance[3] }}
            </td>
            <td width="width:{{balance_grid[4]}}">
                {{ balance[4] }}
            </td>
            <td width="width:{{balance_grid[5]}}">
                {{ balance[5] }}
            </td>
        </tr>
    </table>