    <table class="table table-hover">
        <tr>
            <td width="100px">
                {{ balance[0].username }}:
            </td>
            <td width="125px">
                {{ balance[1] }}
            </td>
            <td width="125px">
                {{ balance[2] }}
            </td>
            <td width="125px">
                {{ balance[3] }}
            </td>
            <td width="125px">
                {{ balance[4] }}
            </td>
            <td width="125px">
                {{ balance[5] }}
            </td>
        </tr>
    </table>