    <table class="table table-hover">
        <tr>
            <td width="100px">
                {% set user_link %}
                    <span class="user_popup">
                        <div id="guid", style="display: none;"> {{ balance[0].guid }} </div>
                        <a href="{{ url_for('event.user', guid=balance[0].guid) }}">
                            {{ balance[0].username }}
                        </a>
                    </span>
                {% endset %}
                {{ user_link }}:
            </td>
            <td width="125px">
                {{ balance[1] }}
            </td>
            <td width="125px">
                {{ balance[2] }}
            </td>
            <td width="125px">
                {{ balance[3] }}
            </td>
            <td width="125px">
                {{ balance[4] }}
            </td>
            <td width="125px">
                {{ balance[5] }}
            </td>
        </tr>
    </table>