    <table class="table table-hover">
        <tr>
            <td width="350px">
                {{ _('%(from)s has to pay %(to)s:',
                    from=settlement.sender.username,
                    to=settlement.recipient.username) }}
            </td>
            <td>
                {% set paid_link %}
                    <span>
                        <a href="{{ url_for('event.settlement_execute', guid=settlement.guid) }}">
                            {{ _('Amount has been paid') }}
                        </a>
                    </span>
                {% endset %}
                {{ settlement.get_amount_str() }} 
                ({{ _('%(link)s', link=paid_link) }})
            </td>
        </tr>
    </table>
