    <table class="table table-hover">
        <tr>
            <td width="64px">
                {% if event.image %}
                <a href="{{ url_for('main.image', guid=event.image.guid) }}">
                    <img src="{{ event.avatar(64) }}" alt="" width="64" style="transform:rotate({{ event.image.rotate }}deg) scale({{ event.image.get_html_scale() }});">
                </a>
                {% endif %}
            </td>
            <td>
                {% set event_link %}
                    <span class="event_popup">
                        <a href="{{ url_for('event.main', guid=event.guid) }}">
                            {{ event.name }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(event_name)s (%(when)s):',
                    event_name=event_link, when=moment(event.date).fromNow()) }}
                <br>
                {{ event.description }}
            </td>
        </tr>
    </table>