    <table class="table table-hover">
        <tr>
            <td width="64px">
                {% if expense.image %}
                <a href="{{ url_for('main.image', image_id=expense.image.id) }}">
                    <img src="{{ expense.avatar(64) }}" alt="" width="64" style="transform:rotate({{ expense.image.rotate }}deg) scale({{ expense.image.get_html_scale() }});">
                </a>
                {% endif %}
            </td>
            <td>
                {% set add_receipt_link %}
                    <span>
                        <a href="{{ url_for('event.add_receipt', expense_id=expense.id) }}">
                            {{ _('add receipt') }}
                        </a>
                    </span>
                {% endset %}
                {% set edit_link %}
                    <span>
                        <a href="{{ url_for('event.edit_expense', expense_id=expense.id) }}">
                            {{ _('edit') }}
                        </a>
                    </span>
                {% endset %}
                {% set remove_link %}
                    <span>
                        <a href="{{ url_for('event.remove_expense', expense_id=expense.id) }}">
                            {{ _('remove') }}
                        </a>
                    </span>
                {% endset %}
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=expense.user.username) }}">
                            {{ expense.user.username }}
                        </a>
                    </span>
                {% endset %}
                {% set users_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('event.expense_users', expense_id=expense.id) }}">
                            {{ _('%(affected_users)d User', affected_users=expense.affected_users.count()) }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(when)s, %(username)s spent %(amount_str)s for %(affected_users)s:',
                    when=moment(expense.date).fromNow(),
                    username=user_link, 
                    amount_str=expense.get_amount_str(),
                    affected_users=users_link) }}
                <br>
                {{ expense.description }}
                {% if not expense.event.closed and expense.can_edit(current_user) %}
                <br>
                {{ _('%(link)s', link=add_receipt_link) }}, {{ _('%(link)s', link=edit_link) }}, {{ _('%(link)s', link=remove_link) }}
                {% endif %}
            </td>
        </tr>
    </table>