    <table class="table table-hover">
        <tr>
            <td width="64px">
                {% if post.author.profile_picture %}
                <a href="{{ url_for('main.image', guid=post.author.profile_picture.guid) }}">
                    <img src="{{ post.author.avatar(64) }}" alt="" width="64" style="transform:rotate({{ post.author.profile_picture.rotate }}deg) scale({{ post.author.profile_picture.get_html_scale() }});">
                </a>
                {% endif %}
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <div id="guid", style="display: none;"> {{ post.author.guid }} </div>
                        <a href="{{ url_for('main.user', guid=post.author.guid) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s said %(when)s:',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>
            </td>
        </tr>
    </table>