    <table class="table table-hover">
        <tr>
            <td width="64px">
                {% if settlement.image %}
                <a href="{{ url_for('main.image', guid=settlement.image.guid) }}">
                    <img src="{{ settlement.avatar(64) }}" alt="" width="64" style="transform:rotate({{ settlement.image.rotate }}deg) scale({{ settlement.image.get_html_scale() }});">
                </a>
                {% endif %}
            </td>
            <td>
                {% set edit_link %}
                    <span>
                        <a href="{{ url_for('event.edit_settlement', guid=settlement.guid) }}">
                            {{ _('edit') }}
                        </a>
                    </span>
                {% endset %}
                {% set remove_link %}
                    <span>
                        <a href="{{ url_for('event.remove_settlement', guid=settlement.guid) }}">
                            {{ _('remove') }}
                        </a>
                    </span>
                {% endset %}
                {% set sender_link %}
                    <span class="settlement_popup">
                        <div id="guid", style="display: none;"> {{ settlement.sender.guid }} </div>
                        <a href="{{ url_for('main.user', guid=settlement.sender.guid) }}">
                            {{ settlement.sender.username }}
                        </a>
                    </span>
                {% endset %}
                {% set recipient_link %}
                    <span class="settlement_popup">
                        <div id="guid", style="display: none;"> {{ settlement.recipient.guid }} </div>
                        <a href="{{ url_for('event.user', guid=settlement.recipient.guid) }}">
                            {{ settlement.recipient.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(when)s, %(sender)s sent %(amount_str)s to %(recipient)s:',
                    when=moment(settlement.date).fromNow(),
                    sender=sender_link, 
                    amount_str=settlement.get_amount_str(),
                    recipient=recipient_link, ) }}
                <br>
                {{ settlement.description }}
                {% if settlement.can_edit(current_user, eventuser) %}
                <br>
                {{ _('%(link)s', link=edit_link) }}, {{ _('%(link)s', link=remove_link) }}
                {% endif %}
            </td>
        </tr>
    </table>