    <table class="table table-hover">
        <tr>
            <td width="64px">
                {% if user.profile_picture %}
                <a href="{{ url_for('main.image', guid=user.profile_picture.guid) }}">
                    <img src="{{ user.avatar(64) }}" alt="" width="64" style="transform:rotate({{ user.profile_picture.rotate }}deg) scale({{ user.profile_picture.get_html_scale() }});">
                </a>
                {% endif %}
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <div id="guid", style="display: none;"> {{ user.guid }} </div>
                        <a href="{{ url_for('event.user', guid=user.guid) }}">
                            {{ user.username }}
                        </a>
                    </span>
                {% endset %}
                {% set remove_link %}
                    <span>
                        {% if user==event.admin %}
                        {{ _('Administrator') }}
                        {% else %}
                        <a href="{{ url_for('event.remove_user', guid=event.guid, user_guid=user.guid) }}">
                            {{ _('remove') }}
                        </a>
                        {% endif %}
                    </span>
                {% endset %}
                <br>
                {{ _('%(link)s', link=user_link) }}
                {% if can_edit %}, {{ _('%(link)s', link=remove_link) }}{% endif %}
            </td>
        </tr>
    </table>