    <table class="table table-hover">
        <tr>
            <td width="64px">
                <a href="{{ url_for('main.user', username=user.username) }}">
                    <img src="{{ user.avatar(64) }}" alt="" width="64">
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=user.username) }}">
                            {{ user.username }}
                        </a>
                    </span>
                {% endset %}
                {% set remove_link %}
                    <span>
                        {% if user==event.admin %}
                        {{ _('Administrator') }}
                        {% else %}
                        <a href="{{ url_for('event.remove_user', username=user.username, event_id=event.id) }}">
                            {{ _('remove') }}
                        </a>
                        {% endif %}
                    </span>
                {% endset %}
                {{ _('%(link)s', link=user_link) }}
                <br>
                {{ _('%(link)s', link=remove_link) }}
            </td>
        </tr>
    </table>