{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <h1>{{ _('Event') }}: {{ event.name }}</h1>
            {% if event.description %}
            <p>{{ event.description }}</p>
            {% endif %}
            {% if event.image %}
            <a href="{{ url_for('main.image', guid=event.image.guid) }}">
                <img src="{{ event.avatar(1024) }}" alt="" width="100%" style="transform:rotate({{ event.image.rotate }}deg) scale({{ event.image.get_html_scale() }});">
            </a>
            {% endif %}
            {% if event.can_edit(current_user) %}
            <p><a href="{{ url_for('event.edit_picture', guid=event.guid) }}">{{ _('Edit your event picture') }}</a></p>
            {% endif %}

            <p>{{ _('Admin') }}: {{ event.admin.username }}</p>
            <p>{{ _('Accountant') }}: {{ event.accountant.username }}</p>
            <p>{{ _('Base Currency') }}: {{ event.base_currency.code }}</p>
            <p><a href="{{ url_for('event.currencies', guid=event.guid) }}">{{ _('Allowed currencies') }}</a>: {{ event.get_currencies_str() }} </p>
            <p>{{ _('Exchange fee') }}: {{ event.exchange_fee }}%</p>
            <p>{{ _('From') }}: {{ moment(event.date).format('LL') }}</p>
            <p>{{ _('%(count)d users', count=stats['users']) }}, 
               {{ _('%(count)d posts', count=stats['posts']) }}, 
               {{ _('%(count)d expenses', count=stats['expenses']) }}, 
               {{ _('%(count)d settlements', count=stats['settlements']) }}</p>
            <p><a href="{{ url_for('event.expenses', guid=event.guid) }}">{{ _('Expenses') }}</a></p>
            <p><a href="{{ url_for('event.settlements', guid=event.guid) }}">{{ _('Settlements') }}</a></p>
            <p><a href="{{ url_for('event.balance', guid=event.guid) }}">{{ _('Balance sheet') }} </a>
            (<a href="{{ url_for('event.request_balance', guid=event.guid) }}">{{ _('Send balance sheet as PDF to my email') }}</a>)</p>
            {% if event.fileshare_link %}
                <p><a href="{{ event.fileshare_link }}" target="_blank">{{ _('Link to external fileshare') }}</a></p>
            {% endif %}
            {% if event.can_edit(current_user) %}
            {% if event.closed %}
            <p><a href="{{ url_for('event.reopen', guid=event.guid) }}">{{ _('Reopen this event') }}</a></p>
            {% else %}
            <p><a href="{{ url_for('event.send_payment_reminders', guid=event.guid) }}">{{ _('Send payment reminders') }}</a></p>
            <p><a href="{{ url_for('event.close', guid=event.guid) }}">{{ _('Close this event') }}</a></p>
            <p><a href="{{ url_for('event.edit', guid=event.guid) }}">{{ _('Edit this event') }}</a></p>
            <p><a href="{{ url_for('event.users', guid=event.guid) }}">{{ _('Manage users') }}</a></p>
            {% endif %}
            {% endif %}
        </tr>
    </table>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include 'event/_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
