[Unit]
Description=ExpenseAppWorker
After=network.target

[Service]
Type=simple
User=expenseapp
Group=expenseapp
WorkingDirectory=/opt/expenseapp/
ExecStart=/opt/expenseapp/venv/bin/rq worker -u 'redis://:bPOd5jd84WVWiC53XNyxoQVzkWz5P9xw@localhost:6379/0' 'expenseapp-tasks'

[Install]
WantedBy=multi-user.target