[Unit]
Description=ExpenseApp
After=network.target

[Service]
Type=simple
User=flask_app
Group=flask_app
WorkingDirectory=/home/flask_app/expenseapp/
ExecStart=/home/flask_app/expenseapp/run_as_service.sh

[Install]
WantedBy=multi-user.target

