[Unit]
Description=ExpenseApp
After=network.target

[Service]
Type=simple
User=expenseapp
Group=expenseapp
WorkingDirectory=/opt/expenseapp/
ExecStart=/opt/expenseapp/run_as_service.sh

# Poll the app every 2 seconds until it answers
ExecStartPost=/bin/bash -c 'until curl --silent --output /dev/null http://localhost:5000; do sleep 2; done'

# If it doesn't answer within 120 seconds, kill it and fail
TimeoutStartSec=300

# Automatically restart if it fails, hangs, or crashes
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target