# put in ~/.config/systemd/user/

[Unit]
Description=Expense App
After=network.target

[Service]
Type=simple
WorkingDirectory=~/expenseapp/
ExecStart=~/expenseapp/run_as_service.sh

[Install]
WantedBy=multi-user.target