<table class="table table-hover">
    <tr>
        <td width="200px">
        IBAN 
        </td>
        <td width="300px">
        {{ bank_account.iban }}
    </tr>
    <tr>
        </td>
        <td width="200px">
        Bank name
        </td>
        <td width="300px">
        {{ bank_account.bank }}
    </tr>
    <tr>
        </td>
        <td width="200px">
        Account Name
        </td>
        <td width="300px">
        {{ bank_account.name }}
    </tr>
    <tr>
        </td>
        <td width="200px">
        Address
        </td>
        <td width="300px">
        {{ bank_account.address }}
    </tr>
    <tr>
        </td>
        <td width="200px">
        Address suffix
        </td>
        <td width="300px">
        {{ bank_account.address_suffix }}
    </tr>
    <tr>
        </td>
        <td width="200px">
        ZIP City
        </td>
        <td width="300px">
        {{ bank_account.zip_code }} {{ bank_account.city }}
    </tr>
    <tr>
        </td>
        <td width="200px">
        Country
        </td>
        <td width="300px">
        {{ bank_account.country }}
        </td>
    </tr>
</table>
<br>