<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button defaultHref="/auth/login"></ion-back-button></ion-buttons>
    <ion-title>Set Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">Reset Token</ion-label>
      <ion-input formControlName="token" type="text" placeholder="Paste token from email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Min. 8 characters"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="form.invalid">Set Password</ion-button>
  </form>
</ion-content>
