<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button defaultHref="/auth/login"></ion-back-button></ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>Enter your email address and we'll send you a reset link.</p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="your@email.com"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="form.invalid">Send Reset Link</ion-button>
  </form>
</ion-content>
