    <table class="table table-hover">
        <tr>
            <td width="64px">
            </td>
            <td>
                {% set edit_link %}
                    <span>
                        <a href="{{ url_for('main.edit_bank_account', guid=bank_account.guid) }}">
                            {{ _('edit') }}
                        </a>
                    </span>
                {% endset %}
                {% set remove_link %}
                    <span>
                        <a href="{{ url_for('main.remove_bank_account', guid=bank_account.guid) }}">
                            {{ _('remove') }}
                        </a>
                    </span>
                {% endset %}
                <br>
                {{ _('%(bank)s: %(iban)s',
                    bank=bank_account.bank, 
                    iban=bank_account.iban) }}
                <br>
                {% if bank_account.can_edit(current_user) %}
                    {{ bank_account.description }}
                    {{ _('%(link)s', link=edit_link) }}, {{ _('%(link)s', link=remove_link) }}
                {% endif %}
            </td>
        </tr>
    </table>