    <table class="table table-hover">
        <tr>
            <td width="64px">
                {% if currency.image %}
                <a href="{{ url_for('main.image', image_id=currency.image.id) }}">
                    <img src="{{ currency.avatar(64) }}" alt="" width="64"style="transform:rotate({{ currency.image.rotate }}deg) scale({{ currency.image.get_html_scale() }});">
                </a>
                {% endif %}
            </td>
            <td>
                {% set edit_link %}
                    <span>
                        <a href="{{ url_for('main.edit_currency', currency_id=currency.id) }}">
                            {{ _('edit') }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(name)s (%(edit_link)s)',
                    name=currency.name, 
                    edit_link=edit_link) }}
                <br>
                {{ _('%(code)s 1 equals %(inCHF).4f',
                    code=currency.code,
                    inCHF=currency.inCHF) }}
                <br>
                {{ currency.description }}
            </td>
        </tr>
    </table>