    <table class="table table-hover">
        <tr>
            <td width="64px">
                <img src="{{ expense.avatar(64) }}" alt="" width="64">
            </td>
            <td>
                {% set edit_link %}
                    <span>
                        <a href="{{ url_for('main.event_edit_expense', event_id=event.id, expense_id=expense.id) }}">
                            {{ _('Edit') }}
                        </a>
                    </span>
                {% endset %}
                {% set remove_link %}
                    <span>
                        <a href="{{ url_for('main.event_remove_expense', event_id=event.id, expense_id=expense.id) }}">
                            {{ _('Remove') }}
                        </a>
                    </span>
                {% endset %}
                {% set user_link %}
                    <span class="expense_popup">
                        <a href="{{ url_for('main.user', username=expense.user.username) }}">
                            {{ expense.user.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(when)s, %(username)s spent %(amount_str)s for %(affected_users)s:',
                    when=moment(expense.date).fromNow(),
                    username=user_link, 
                    amount_str=expense.get_amount_str(),
                    affected_users=expense.get_affected_users_str()) }}
                <br>
                {{ expense.description }}
                {% if not event.closed %}
                <br>
                {{ _('%(edit)s, %(remove)s',
                    edit=edit_link,
                    remove=remove_link) }}
                {% endif %}
            </td>
        </tr>
    </table>