    <table class="table table-hover">
        <tr>
            <td width="64px">
                {% if message.author.profile_picture %}
                <a href="{{ url_for('main.image', guid=message.author.profile_picture.guid) }}">
                    <img src="{{ message.author.avatar(64) }}" alt="" width="64" style="transform:rotate({{ message.author.profile_picture.rotate }}deg) scale({{ message.author.profile_picture.get_html_scale() }});">
                </a>
                {% endif %}
            </td>
            <td>
                {% if message.author == current_user %}
                {% set recipient_link %}
                    <span class="user_popup">
                        <div id="guid", style="display: none;"> {{ message.recipient.guid }} </div>
                        <a href="{{ url_for('main.user', guid=message.recipient.guid) }}">
                            {{ message.recipient.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('You wrote %(username)s %(when)s:',
                    username=recipient_link, when=moment(message.timestamp).fromNow()) }}
                {% else %}
                {% set sender_link %}
                    <span class="user_popup">
                        <div id="guid", style="display: none;"> {{ message.author.guid }} </div>
                        <a href="{{ url_for('main.user', guid=message.author.guid) }}">
                            {{ message.author.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s wrote you %(when)s:',
                    username=sender_link, when=moment(message.timestamp).fromNow()) }}
                {% endif %}
                <br>
                <span id="message{{ message.guid }}">{{ message.body }}</span>
            </td>
        </tr>
    </table>