    <table class="table table-hover">
        <tr>
            <td width="64px">
                <img src="{{ settlement.avatar(64) }}" alt="" width="64">
            </td>
            <td>
                {% set edit_link %}
                    <span>
                        <a href="{{ url_for('main.event_edit_settlement', event_id=event.id, settlement_id=settlement.id) }}">
                            {{ _('Edit') }}
                        </a>
                    </span>
                {% endset %}
                {% set remove_link %}
                    <span>
                        <a href="{{ url_for('main.event_remove_settlement', event_id=event.id, settlement_id=settlement.id) }}">
                            {{ _('Remove') }}
                        </a>
                    </span>
                {% endset %}
                {% set sender_link %}
                    <span class="settlement_popup">
                        <a href="{{ url_for('main.user', username=settlement.sender.username) }}">
                            {{ settlement.sender.username }}
                        </a>
                    </span>
                {% endset %}
                {% set recipient_link %}
                    <span class="settlement_popup">
                        <a href="{{ url_for('main.user', username=settlement.recipient.username) }}">
                            {{ settlement.recipient.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(when)s, %(sender)s sent %(amount_str)s to %(recipient)s:',
                    when=moment(settlement.date).fromNow(),
                    sender=sender_link, 
                    amount_str=settlement.get_amount_str(),
                    recipient=recipient_link, ) }}
                <br>
                {{ settlement.description }}
                {% if not event.closed %}
                <br>
                {{ _('%(edit)s, %(remove)s',
                    edit=edit_link,
                    remove=remove_link) }}
                {% endif %}
            </td>
        </tr>
    </table>