    <table class="table table-hover">
        <tr>
            <td width="64px">
                {% if user.profile_picture %}
                <a href="{{ url_for('main.image', guid=user.profile_picture.guid) }}">
                    <img src="{{ user.avatar(64) }}" alt="" width="64" style="transform:rotate({{ user.profile_picture.rotate }}deg) scale({{ user.profile_picture.get_html_scale() }});">
                </a>
                {% endif %}
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <div id="user_popup_guid", style="display: none;"> {{ user.guid }} </div>
                        <a href="{{ url_for('main.user', guid=user.guid) }}">
                            {{ user.username }}
                        </a>
                    </span>
                {% endset %}
                {% set edit_link %}
                    <span>
                        <a href="{{ url_for('main.edit_user', guid=user.guid) }}">
                            {{ _('edit') }}
                        </a>
                    </span>
                {% endset %}
                <br>
                {{ _('%(link)s', link=user_link) }}
                {% if current_user.is_admin %}
                ({{ _('%(link)s', link=edit_link) }})
                {% endif %}
            </td>
        </tr>
    </table>